# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio project and solutions
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# build and output directories
**/build/
**/bin/

# Clang compile commands
compile_commands.json
compile_commands/

#misc
.cache/
**/__pycache__/
